.classpath
.project
target
/jhaws/lucene3/src/site/resources/xpdfbin-win-3.03.zip
/jhaws/net/.settings/org.eclipse.jdt.core.prefs
/jhaws/net/.settings/org.eclipse.wst.common.component
/jhaws/net/.settings/org.eclipse.wst.common.project.facet.core.xml
/jhaws/backup.zip
/jhaws/io/.settings/org.eclipse.jdt.core.prefs
/jhaws/io/.settings/org.eclipse.wst.common.component
/jhaws/io/.settings/org.eclipse.wst.common.project.facet.core.xml
*.iml
org.eclipse.wst.validation.prefs
org.eclipse.core.resources.prefs
org.eclipse.jdt.core.prefs
/jhaws/lang/.settings/org.eclipse.wst.common.project.facet.core.xml
*.releaseBackup
release.properties
pom.xml.releaseBackup
org.eclipse.wst.common.component
org.eclipse.wst.common.project.facet.core.xml

/jhaws/lucene5/.settings/org.eclipse.m2e.core.prefs
/jhaws/lucene5/.settings/org.eclipse.jdt.ui.prefs
/jhaws/lucene5/cmds.bat
/jhaws/lucene6/.settings/org.eclipse.jdt.ui.prefs
/jhaws/lucene6/.settings/org.eclipse.m2e.core.prefs
/jhaws/lucene6/cmds.bat
/jhaws/documents/.settings/org.eclipse.jdt.ui.prefs
/jhaws/documents/.settings/org.eclipse.m2e.core.prefs
/jhaws/lucene/src/test/resources/dubsindex
/jhaws/lucene5/src/test/resources/dubsindex
/jhaws/lucene6/src/test/resources/dubsindex
/jhaws/lucene7/src/test/resources/dubsindex
/jhaws/lucene7/cmds.bat
/jhaws/wicket/replace.txt
/jhaws/wicket/replaces.sh
cmds.bat
org.sonarlint.eclipse.core.prefs
classpath-data.json
