.classpath
.project
target
/jhaws/net/src/test/java/org/jhaws/common/net/client/tests/TTTTTTT.java
/jhaws/lucene3/src/site/resources/xpdfbin-win-3.03.zip
/jhaws/net/.settings/org.eclipse.jdt.core.prefs
/jhaws/net/.settings/org.eclipse.wst.common.component
/jhaws/net/.settings/org.eclipse.wst.common.project.facet.core.xml
