.classpath
.project
target
/jhaws/net/src/test/java/org/jhaws/common/net/client/tests/TTTTTTT.java
/jhaws/lucene3/src/site/resources/xpdfbin-win-3.03.zip
/jhaws/net/.settings/org.eclipse.jdt.core.prefs
/jhaws/net/.settings/org.eclipse.wst.common.component
/jhaws/net/.settings/org.eclipse.wst.common.project.facet.core.xml
/jhaws/backup.zip
/jhaws/io/.settings/org.eclipse.jdt.core.prefs
/jhaws/io/.settings/org.eclipse.wst.common.component
/jhaws/io/.settings/org.eclipse.wst.common.project.facet.core.xml
*.iml
org.eclipse.wst.validation.prefs
org.eclipse.core.resources.prefs
org.eclipse.jdt.core.prefs
/jhaws/lang/.settings/org.eclipse.wst.common.project.facet.core.xml
*.releaseBackup
release.properties
pom.xml.releaseBackup
org.eclipse.wst.common.component
org.eclipse.wst.common.project.facet.core.xml

