<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true" scan="true">
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<charset>UTF-8</charset>
			<pattern>[%d{ISO8601}] [%contextName] [%highlight(%-5level)] [%thread] [%cyan( %class:%line )] [%logger] %msg%n</pattern>
			<outputPatternAsHeader>false</outputPatternAsHeader>
		</encoder>
	</appender>
	<logger name="org.apache.pdfbox" level="info" />
	<logger name="org.apache.fontbox" level="info" />
	<root level="debug"><appender-ref ref="CONSOLE" /></root>
</configuration>
