<wicket:panel>

	<span class="typeahead_component" wicket:id="typeAhead">
		<input wicket:id="hiddenFieldUid" class="hidden" type="text">
		<div class="typeahead__resultcontainer badge badge-dark"></div>
		<div class="typeahead__container typeahead__container-sm">
			<div class="typeahead__field">
				<div class="typeahead__query">
					<input wicket:id="typeAheadInput" class="form-control form-control-sm" autocomplete="off">
				</div>
				<div class="typeahead__button">
					<button wicket:id="typeAheadSearch" onclick="event.preventDefault();typeAheadReQuery(this);">
						<i class="fa-fw fas fa-search"></i>
					</button>
				</div>
			</div>
		</div>
		<a style="display: none; height: 40px; border: 1px solid #ccc; font-size: 14px;" class="btn btn-default text-center icon-hover-hand text-blue" wicket:id="typeAheadAddResult"><i class="fas fa-check-circle"></i></a>
		<a style="display: none; height: 40px; border: 1px solid #ccc; font-size: 14px;" class="btn btn-default text-center icon-hover-hand text-blue" wicket:id="typeAheadNew"><i class="fas fa-plus-circle"></i></a>
	</span>

</wicket:panel>