[data-id=spinnercontainer] {
    position: fixed;
    z-index: 9998 !important;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .5) !important;
    display: block
}

.sk-bounce {
    width: 70px;
    height: 20px;
    position: absolute;
    top: calc(50% - (20px/2));
    left: calc(50% - (70px/2));
    text-align: center
}

.sk-bounce>div {
    width: 18px;
    height: 18px;
    background-color: #fff;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both
}

.sk-bounce .bounce1 {
    -webkit-animation-delay: -.32s;
    animation-delay: -.32s
}

.sk-bounce .bounce2 {
    -webkit-animation-delay: -.16s;
    animation-delay: -.16s
}

@-webkit-keyframes sk-bouncedelay {

    0%,
    100%,
    80% {
        -webkit-transform: scale(0)
    }

    40% {
        -webkit-transform: scale(1)
    }
}

@keyframes sk-bouncedelay {

    0%,
    100%,
    80% {
        -webkit-transform: scale(0);
        transform: scale(0)
    }

    40% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}