[data-id=spinnercontainer] {
    position: fixed;
    z-index: 9998 !important;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .5) !important;
    display: block
}

.sk-rect {
    position: absolute;
    top: calc(50% - (50px/2));
    left: calc(50% - (50px/2));
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 10px
}

.sk-rect>div {
    background-color: #fff;
    height: 100%;
    width: 6px;
    display: inline-block;
    margin: 0 3px 0 0;
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out
}

.sk-rect .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s
}

.sk-rect .rect3 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s
}

.sk-rect .rect4 {
    -webkit-animation-delay: -.9s;
    animation-delay: -.9s
}

.sk-rect .rect5 {
    -webkit-animation-delay: -.8s;
    animation-delay: -.8s
}

@-webkit-keyframes sk-stretchdelay {

    0%,
    100%,
    40% {
        -webkit-transform: scaleY(.4)
    }

    20% {
        -webkit-transform: scaleY(1)
    }
}

@keyframes sk-stretchdelay {

    0%,
    100%,
    40% {
        transform: scaleY(.4);
        -webkit-transform: scaleY(.4)
    }

    20% {
        transform: scaleY(1);
        -webkit-transform: scaleY(1)
    }
}