BODY {
	BACKGROUND-COLOR: #ffffff
}
A:link {
	COLOR: blue
}
A:visited {
	COLOR: blue
}
A:active {
	COLOR: #f30! important
}
A:hover {
	COLOR: #f30! important
}
#leftcol A:active {
	COLOR: #f30! important
}
#leftcol A:hover {
	COLOR: #f30! important
}
A.selfref:link {
	COLOR: #555! important
}
A.selfref:visited {
	COLOR: #555! important
}
.a TD {
	BACKGROUND: #ddd; COLOR: #000
}
.TableHeadingColor {
	BACKGROUND: #036; COLOR: #ffffff
}
.TableSubHeadingColor {
	BACKGROUND: #bbb; COLOR: #fff
}
.TableRowColor {
	BACKGROUND: #efefef
}
.FrameTitleFont {
	COLOR: #000000; FONT-FAMILY: normal
}
.FrameHeadingFont {
	COLOR: #000000; FONT-FAMILY: normal
}
.FrameItemFont {
	COLOR: #000000; FONT-FAMILY: normal
}
.NavBarCell1 {
	BACKGROUND-COLOR: #ddd
}
.NavBarCell1Rev {
	BACKGROUND-COLOR: #888
}
.NavBarFont1 {
	COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.NavBarFont1Rev {
	COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.NavBarCell2 {
	FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.NavBarCell3 {
	FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
