<configuration debug="true" scan="true">

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<charset>UTF-8</charset>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
			<outputPatternAsHeader>false</outputPatternAsHeader>
		</encoder>
	</appender>

	<logger name="org.swingeasy" level="info" />

	<root level="info">
		<appender-ref ref="CONSOLE" />
	</root>

</configuration>
